<section>
    <div class="tarjeta">
        <form [formGroup]="formularioDeMetas" class="p-4">
            <label class="label">
                Describe tu meta
                <input type="text" class="input" placeholder="Ej. 52 caminatas" formControlName="detalles">
            </label>
            <label class="label">
                ¿Con qué frecuencia deseas cumplir tu meta? <span>(Ej. 1 vez a la semana)</span>
                <div class="flex mb-6">
                    <input type="text" formControlName="eventos" class="input mr-6">
                   <select class="input" id="">
                    <option value="prueba"></option>
                    <option value="prueba2"></option>
                    <option value="prueba3"></option>
                   </select>
                </div>
            </label>
        </form>
    </div>
</section>
